<section class="admin-index">
    <div class="container">

        <a asp-controller="Admin" asp-action="ManageCourses">Manage Courses</a>
        <a asp-controller="Admin" asp-action="ManageSubscribers">Manage Subscribers</a>
        <a asp-controller="Admin" asp-action="ManageUsers">Manage Users</a>

    </div>
</section>