<section class="admin-index">
    <div class="container">

        <a asp-controller="Admin" asp-action="CreateNewCourse">Create New Course</a>
        <a asp-controller="Admin" asp-action="UpdateExistingCourse">Update Existing Course</a>
        <a asp-controller="Admin" asp-action="ManageUsers">Delete Course</a>

    </div>
</section>