@model AccountSecurityViewModel

<sections class="account-security">

    <div class="container">

        @await Html.PartialAsync("~/views/account/sections/_AccountMenuPartial.cshtml", Model.LoggedInUser)

        <div class="account-details-forms">

            <h1 class="h3">Security</h1>

            <p class="h4"> Password</p>

            <form id="account-security-change-password-form" method="post" asp-action="ChangePassword" asp-controller="Account">

                @if(Model.ChangePasswordErrorMessage != "")
                {
                    <span class="error-flag">@Model.ChangePasswordErrorMessage</span>
                }
                @if (Model.ChangePasswordSuccessMessage != "")
                {
                    <span class="success-flag">@Model.ChangePasswordSuccessMessage</span>
                }

                <div class="input-div cp">
                    <label asp-for=@Model.PasswordForm.CurrentPassword> </label>
                    <input asp-for=@Model.PasswordForm.CurrentPassword />
                    <span asp-validation-for=PasswordForm.CurrentPassword ></span>
                </div>

                <div class="input-div np">
                    <label asp-for=@Model.PasswordForm.NewPassword> </label>
                    <input asp-for=@Model.PasswordForm.NewPassword />
                    <span asp-validation-for=@Model.PasswordForm.NewPassword></span>
                </div>

                <div class="input-div cnp">
                    <label asp-for=@Model.PasswordForm.ConfirmPassword> </label>
                    <input asp-for=@Model.PasswordForm.ConfirmPassword />
                    <span asp-validation-for=@Model.PasswordForm.ConfirmPassword></span>
                </div>

                <div class="buttons">
                    <button class="btn-gray">Cancel</button>
                    <button class="btn-theme">Change password</button>
                </div>

            </form>

            <div class="delete-account">
                <p class="h4">Delete account</p>
                <p>When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we’ll send you a link to reactivate your account.</p>
                
                <form id="account-security-delete-account-form" method="post" asp-action="DeleteAccount" asp-controller="Account">
                    <span class="error-flag">@Model.DeleteAccountMessage</span>

                    <div class="checkbox-div">
                        <input type="checkbox" asp-for=@Model.DeleteAccountForm.TermsAndConditions />
                        <label asp-for=@Model.DeleteAccountForm.TermsAndConditions></label>
                    </div>

                    <button type="submit" class="btn-delete">
                        Delete
                    </button>
                </form>

            </div>

        </div>

    </div>

</sections>